
header {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height:50px;
  text-align: center;
  background-color: #1e1e1e; /* #80F */
  color: #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}
.tag {
  position: relative;
  font-style: normal;
}
.tag::before {
  content: "<";
  color: #808080;
}
.tag.cl::before {
  content: "</";
  color: #808080;
}
.tag::after {
  content: ">";
  color: #808080;
}
.fc-b {
  color: #569cd6;
}
.fc-v {
  color: #c586c0;
}
.fc-g {
  color: #3ac9b0;
}
.fc-y {
  color: #ffd709;
}
.fc-s {
  color: #9cdcfe;
}
.fc-o {
  color: #ce9178;
}
.fc-a {
  color: #d4d4d4;
}
h1 {
  /* line-height: 50px; */
  color: #d7ba6e; /* #FF5 */

  /* font-style: normal; */
}
h1 b {
  font-family: work-sans,sans-serif;
  font-weight: 700; font-size: 50px;
}
h1 b:first-child {
  display: inline-block;
  font-size: 38px;
  /* transform:rotateY(-180deg);
  margin-right: -13px;
  padding-right: 10px; */
  /* transform: rotate3d(0,1,0.5,90deg); */
}
h1 b:last-child {
  display: inline-block;
}
header p {
  font-size: 20px;
  font-weight: 400;
  &.ti {
    text-indent: 1em;
  }
}

.gnb {
  width: 40px; height: 40px;
  background-color: #c586c0;
}