.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container.dark {
  background: #1e1e1e;
}

.container.blue {
  background: -webkit-gradient(linear, left top, right top, from(#e73c7e), to(#ee7752));
  background: linear-gradient(90deg, #e73c7e, #ee7752);
}

.container.red {
  background: -webkit-gradient(linear, left top, right top, from(#23d5ab), to(#23a6d5));
  background: linear-gradient(90deg, #23d5ab, #23a6d5);
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #fff;
  min-width: 1px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 2em;
}

ul > li {
  padding: 0.5em 0;
}

@media screen and (max-width: 768px) {
  section {
    min-width: 100%;
    min-height: calc(30vh);
  }
}

.btn_wrap {
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_wrap .button {
  position: relative;
  cursor: pointer;
  color: #fff;
  border: 0;
  background: none;
  width: 20rem;
  height: 20rem;
  padding: 0;
  margin: 1rem;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.btn_wrap .button .button__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.btn_wrap .button .button__deco-filler {
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  -webkit-transform: translate3d(0, 75%, 0);
          transform: translate3d(0, 75%, 0);
}

.btn_wrap .button .button__text,
.btn_wrap .button .button__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 1.6rem;
}

.btn_wrap .button.btn1 .button__deco-filler {
  background: #23a6d5;
}

.btn_wrap .button.btn2 .button__deco-filler {
  background: #e73c7e;
}

.btn_wrap .button:hover, .btn_wrap .button:focus, .btn_wrap .button.button--hover {
  color: #fff;
  background: transparent;
}

.contact_wrap {
  overflow: scroll;
  position: fixed;
  padding: 150px 0;
  height: calc(100vh - 150px);
}

.contact_wrap::-webkit-scrollbar {
  display: none;
}

.contact_form {
  background-color: #ffffff22;
  -webkit-box-shadow: 0px 2px 5px #00000001;
          box-shadow: 0px 2px 5px #00000001;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.contact_form form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.contact_form form ul > li {
  text-align: left;
}

.contact_form form ul > li dt {
  font-size: 18px;
  font-weight: 700;
}

.contact_form form ul > li dd {
  margin-top: 15px;
}

.contact_form .uploadfile_wrap textarea {
  height: 100px;
  color: #333;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-family: work-sans, sans-serif;
}

.contact_form .uploadfile_wrap textarea::-webkit-input-placeholder {
  color: #999;
}

.contact_form .uploadfile_wrap textarea:-ms-input-placeholder {
  color: #999;
}

.contact_form .uploadfile_wrap textarea::-ms-input-placeholder {
  color: #999;
}

.contact_form .uploadfile_wrap textarea::placeholder {
  color: #999;
}

.contact_form .uploadfile_wrap .addfile_wrap {
  position: relative;
}

.contact_form .btn_wrap {
  margin-top: 30px;
}
