main {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #000 70%, #444);
}
canvas {
  width: 100%;
  height: 100vh;
  transition: all 0.4s ease-out;
  position: absolute;
  left: 0;
  top: 0;
}
.introLogo {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(70% - 70px);
  z-index: 10;

  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  b:first-child {
    font-size: 0.8em;
  }
  b:last-child {
    font-size: 1em;
  }
  strong {
    display: block;
    font-family: work-sans, sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    transition: all 0.4s ease-out;
  }
  em {
    display: none;
    padding-left: 25px;
    font-size: 1.6rem;
  }
  &:hover {
    strong {
      font-size: 7rem;
      color: #c586c0;
    }
    em {
      display: block;
      white-space: nowrap;
    }
  }
  &:hover + canvas {
    width: 1px;
    height: 1px;
    left: 50%;
    top: 70%;
  }
}

.intro,
.greeting {
  // position: fixed;
  // left: 0; top: 0;
  width: 100%;
  height: 50vh; /*height: 50px;*/
  text-align: center;
  /* #80F */
  color: #fff;
  // border-bottom: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
